.card-container {
    @include sm-viewport() {
        margin-top: 3rem !important;
    }
    .slick-slider {
        .slick-dots {
            bottom: 0px;
        }
    }
    .product-card {
        .product-card__item {
            .product-card__item__img {
                .product-card__item__img--content {
                    background-color: $Orange;
                    width: 400px;
                    height: 400px;
                    img {
                        width: 200px;    
                    }
                }
            }
            .product-card__item__description {
                font-family: KumbhSans-Bold;
                .product-card__item__description--company-name {
                    color: $Orange;
                }
                .product-card__item__description--title {
                    color: $Black;
                }
                .product-card__item__description--product-description {
                    font-family: KumbhSans-Regular;
                    max-height: 30%;
                    overflow-y: auto;
                }
                .product-card__item__description--price {
                    color: $Black;
                }
            }
        }
    }
}